.container {
    display: flex;
    justify-content: center;
    position: relative;
}

.img {
    object-fit: cover;
    height: 223px;
    width: 1240px;
    border-radius: 25px;
    filter : brightness(70%);
    z-index: -1;
}
.text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    color: white;
    font-size: 48px;
    display: flex;
}