.errorWrapper {
    composes: primary from './colors.css';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorTitle {
    font-size: 288px;
    font-weight: 700;
}

.errorText {
    font-size: 36px;
    font-weight: 500;
}

.errorLink {
    font-size: 18px;
    composes: primary from './colors.css';
    margin: 40px 0;
}